:root {
    --chong: #0047a0;
    --hong: #cd2e3a;
    --font-family: $base-font-family;
    --font-size: 0.9rem;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-y: overlay;
}

a,
a:visited {
    color: var(--chong);
}

footer {
    margin-bottom: 5rem;
}

.nyheter-header {
    margin-top: 3rem;
}

blockquote.puff {
    font-family: unset;
    // font-size: unset;
    font-style: unset;
    color: unset;
    border-left: unset;
    padding-left: unset;
    border: 1px solid gainsboro;
    padding: 1rem;
    border-radius: .25rem;
    margin-block: 2rem;
    margin-inline: -1rem;
}

#scroll-to-top {
    position: fixed;
    bottom: 2rem;
    right: 3rem;
    display: grid;
    justify-items: center;
    align-items: center;
    height: 4rem;
    width: 4rem;
    padding-bottom: .37rem;
    font-size: 3rem;
    line-height: 0;
    box-sizing: border-box;
    border-radius: 100%;
    opacity: 0;
    text-decoration: none;
    transition-delay: .1s;
    transition-duration: .2s;
    pointer-events: none;
    transform: rotate(270deg);
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    background-color: var(--hong) !important;
}

#scroll-to-top.show {
    opacity: 1;
    pointer-events: unset;
}

.site-header .wrapper {
    margin-top: 1rem;
    // display: grid;
    // grid-template-columns: max-content 1fr;
    // grid-auto-flow: column;
}

.site-header .header-title {
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
    gap: 1rem;
}

.site-header .wrapper .site-nav {
    justify-self: end;
}

.trigger a.page-link {
    color: var(--chong);
    font-weight: bold;
    font-family: $base-font-family;
}

.trigger a.page-link.active {
    color: var(--hong);
}

#logo {
    width: 5rem;
}

.pre-line {
    white-space: pre-line;
}

.post-nav {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem 2rem;
    font-weight: bold;
}

.belt-color {
    line-height: 0.8rem;
    width: 5rem;
    height: 1.4rem;
    border: 1px solid black;
    font-weight: bolder;
    display: flex;
    gap: 3px;
    padding-inline: 0.5rem;
    box-sizing: border-box;
}

.belt-color * {
    display: block;
    width: 3px;
    height: 100%;
}

.belt-color.blue * {
    width: 4px;
}

.belt-color:is(.green) {
    padding-inline: 0;
    /* align-items: end; */
}

.belt-color:is(.green) * {
    width: 100%;
    height: 50%;
}

.belt-color.white {
    background-color: white;
}

.belt-color.yellow {
    background-color: yellow;
}

.belt-color.green {
    background-color: green;
}

.belt-color.green * {
    background-color: var(--chong);
}

.belt-color.blue {
    background-color: var(--chong);
}

.belt-color.blue * {
    background-color: var(--hong);
}

.belt-color.red {
    background-color: var(--hong);
}

.belt-color.red * {
    background-color: black;
}

.belt-color.black {
    background-color: black;
}

.belt-color.black * {
    background-color: gold;
}

img[src$='#qr'] {
    width: 200px;
}

i {
    font-style: normal;
    white-space: nowrap;
}