:root {
    --chong: #0047a0;
    --hong: #cd2e3a;
    --font-family: $base-font-family;
    --font-size: 0.9rem;
}

body {
    overflow-y: overlay;
}

.site-header .wrapper {
    margin-top: 1rem;
    // display: grid;
    // grid-template-columns: max-content 1fr;
    // grid-auto-flow: column;
}

.site-header .header-title {
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
    gap: 1rem;
}

.site-header .wrapper .site-nav {
    justify-self: end;
}

.trigger a.page-link {
    color: var(--chong);
    font-weight: bold;
    font-family: $base-font-family;
}

.trigger a.page-link.active {
    color: var(--hong) !important;
}

#logo {
    width: 5rem;
}

.pre-line {
    white-space: pre-line;
}