<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}">

{%- include head.html -%}

<body>

  {%- include header.html -%}

  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      {{ content }}
    </div>
  </main>

  {%- include footer.html -%}
  <!-- Back to top button -->
  <a href="#" id="scroll-to-top">&raquo;</a>
  <script>
    let scrollButton = document.getElementById("scroll-to-top");
    window.onscroll = function () { scrollFunction(); };

    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        scrollButton.classList.add("show");
      } else {
        scrollButton.classList.remove("show");
      }
    }
  </script>
</body>

</html>
